header {
    background-color: #f2f2f2;
}
body {
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.navbar {
    width: 80%;
    margin: 0 auto;
}
.nav-tabs {
    margin-top: 20px;
}
h1 {
    font-size: 30px;
    text-align: center;
}
.card-title {
    font-size: 28px;
    text-align: center;
}
.card-text {
    font-size: 20px;
}
